<h1>Add New Climb</h1>

<br>

<form method="POST" action="/climbs">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name">
  <br>
  <label for="category">Category: </label>
  <input type="radio" name="category" id="category" value="boulder"> Boulder <input type="radio" name="category" id="category" value="sport"> Sport <input type="radio" name="category" id="category" value="trad"> Trad
  <br>
  <label for="grade">Grade: </label>
  <input type="text" name="grade" id="grade">
  <br>
  <label for="location">Location: </label>
  <input type="text" name="location" id="location"> (crag, city, state)
  <br>
  <label for="status">Status: </label>
  <input type="radio" name="status" id="status" value="project"> Project <input type="radio" name="status" id="status" value="send"> Send <input type="radio" name="status" id="status" value="Flash"> Flash
  <br>
  <label for="notes">Notes: </label>
  <input type="text" name="notes" id="notes">
  <br>
  <input type="submit" value="Add Climb" id="submit">
</form>

<br><br>