<h1>Add New Climb</h1>

<br>

<form method="POST" action="/climbs">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name">
  <br><br>
  <label for="grade">Grade: </label>
  <input type="text" name="grade" id="grade">
  <br><br>
  <label for="location">Location: </label>
  <input type="text" name="location" id="location" placeholder="crag, city, state">
  <br><br>
  <label for="status">Status: </label>  <br>
  <input type="radio" name="status" id="status" value="project"> Project <br>
  <input type="radio" name="status" id="status" value="send"> Send <br>
  <input type="radio" name="status" id="status" value="Flash"> Flash
  <br><br>
  <label for="category">Category: </label>  <br>
  <input type="radio" name="category" id="category" value="boulder"> Boulder <br>
  <input type="radio" name="category" id="category" value="sport"> Sport <br>
  <input type="radio" name="category" id="category" value="trad"> Trad
  <br><br>
  <label for="notes">Notes: </label>
  <textarea id="notes" name="notes" rows="5" cols="30" placeholder="Enter notes here"></textarea>
  <br><br>
  <input type="submit" value="Add Climb" id="submit">
</form>

<br><br>