<h1>Add New Climb</h1>

<br>

<form method="POST" action="/climbs">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name">
  <br><br>
  <label for="grade">Grade: </label>
  <input type="text" name="grade" id="grade">
  <br><br>
  <label for="location">Location: </label>
  <input type="text" name="location" id="location" placeholder="crag, city, state">
  <br><br>
  <label for="category">Category: </label>
  <input type="text" name="category" id="category" placeholder="boulder, sport, trad">
  <br><br>
  <label for="status">Status: </label>
  <input type="text" name="status" id="status" placeholder="project, send, flash">
  <br><br>
  <label for="notes">Notes: </label>
  <input type="text" name="notes" id="notes">
  <!--<textarea id="notes" name="notes" rows="4" cols="25" placeholder="Enter notes here"></textarea>-->
  <br><br>
  <input type="submit" value="Add" id="submit">
</form>

<br><br>

<a href="/home">Return to Account</a>

<br>
