<h1>Create a ClimbTime Account:</h1>

<br>

<form method="POST" action="/signup">
  <label for="email">Email: </label>
  <input type="text" name="email" id="email">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">
  <label for="password">Password: </label>
  <input type="text" name="password" id="password">
  <p><input type="submit" value="Sign Up" id="submit">
</form>