<h1>Join ClimbTime</h1>

<h3>To create an account, please provide the following information:</h3>

<form method="POST" action="/signup">
  <label for="email">Email: </label>
  <input type="text" name="email" id="email">
  <br>
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">
  <br>
  <label for="password">Password: </label>
  <input type="password" name="password" id="password">
  <br>
  <input type="submit" value="Sign Up" id="submit">
  <br>
  <p>If you already have an account, please <a href="/login">log in</a>.</p>
</form>

<br><br>